<html>
	<head>
		<meta charset="UTF-8">
        <title>考试页面 金蝶笔试系统</title>
        <link rel="shortcut icon" href="/static/img/favicon.png">
		<link rel="stylesheet" href="/static/css/select.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/skins/all.css" />
		<link rel="stylesheet" href="/static/skins/flat/green.css" />
		<link rel="stylesheet" href="/static/skins/square/square.css" />
		<link rel="stylesheet" href="/static/assets/remodal-1.1.0/remodal.css">
		<link rel="stylesheet" href="/static/assets/remodal-1.1.0/remodal-default-theme.css">
        <link rel="stylesheet" type="text/css" href="/static/css/highlight.min.css" />
        <link rel="stylesheet" href="/static/css/codemirror.min.css">
        <link rel="stylesheet" href="/static/assets/toastr-master/toastr.css" />
    </head>
	<style>
		#back{
			background: url(/static/img/back3.png) ;
			background-size: 100%;
			background-attachment: fixed;
			padding-top:-5%;
		}
		.fontsize{
			font-weight: 600;
			font-size:18px ;
			line-height: 30px;
			
		}
		ul>li{
			font-size: 18px;
		}
		#ziti{
			font-size: 50px;
		}
		.black{
			background:rgba(0,0,0,0.1);
			box-shadow:0 0 10px #696969 !important;
			padding-top:2%;
			padding-bottom:3%;
		}
		.quanju{
			padding-top:2%;
			padding-bottom:3%;
		}
		.remodal{
		 background:rgba(f,f,f,0.1);
		opacity: 0.8;
		 
		}
	</style>
	<body id="back">

    <section class="quanju black" >
		<!--header-->
		<section class="header">
			<div class="ziti" id="ziti">
				${testpaperName}
			</div>
		</section>
		<!--判断题-->
		<section class="panduan">
			<h1>判断题</h1>
			<#list JudgmentQuestion as item>
			<div >
				<article class="fontsize">
                    ${item_index+1}、 ${item.stem}
				</article>
				<div style="width: 100%;height: 100px;">
					<ul>
						<li><input type="radio" id="${item.questionBankId}yes" name="${item.questionBankId}" value="1">
                            <label for="${item.questionBankId}yes">对</label></li>
						<li><input type="radio" id="${item.questionBankId}no" name="${item.questionBankId}" value="0">
                            <label for="${item.questionBankId}no">错</label></li>
					</ul>
				</div>
				<div class="alert alert-success text-center hidden success-${item.questionBankId}">正确</div>
				<div class="alert alert-danger text-center hidden danger-${item.questionBankId}">错误&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答案:<span>对</span></div>
			</div>
			</#list>
		</section>
		<!--选择题-->
		<section class="panduan ">
			<h1>选择题</h1>
			<#list ChoiceQuestion as item>
			<div class="col-xs-12">
				<article class="fontsize">
                    ${item_index+1}、 ${item.stem}
				</article>
				<ul>
					<#list item.options as temp>
					<li><input type="radio" name="${item.questionBankId}" id="${item.questionBankId}${temp.op}" value="${temp.op}">
                        <label for="${item.questionBankId}${temp.op}">${temp.op} ${temp.content}</label> </li>
					</#list>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="alert alert-success text-center hidden success-${item.questionBankId}">正确</div>
			<div class="alert alert-danger text-center hidden danger-${item.questionBankId}">错误&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                答案:<span>对</span></div>
			</#list>
		</section>
		<!--编程题-->
		<section class="panduan ">
			<h1>编程题</h1>
			<#list CodingQuestion as item>
			<div class="col-xs-12">
				<article class="fontsize">
                    ${item_index+1}、 ${item.stem}
				</article>
				<div class="section">
					<h4>描述</h4>
					<div class="description markdown">${problem.description}</div>
				</div>
				<div class="section">
					<h4>格式</h4>
					<h5>输入</h5>
					<div class="description">${problem.inputFormat}</div>
					<h5>输出</h5>
					<div class="description">${problem.outputFormat}</div>
				</div>
				<div id="io-sample" class="section">
					<h5>输入样例</h5>
					<div class="description"><pre>${problem.inputSample}</pre></div>
					<h5>输出样例</h5>
					<div class="description"><pre>${problem.outputSample}</pre></div>
				</div>
				<div class="section">
					<div class="description">
						<p><strong>时间限制: </strong>${problem.timeLimit} ms</p>
						<p><strong>内存限制: </strong>${problem.memoryLimit} KB</p>
					</div>
				</div>
				<div class="section">
					<h4>提示</h4>
					<div class="description markdown">${problem.hint?replace("<","&lt;")?replace(">","&gt;")}</div>
				</div>
				<ul>
					<li>
						<div id="code-editor">
                            <textarea name="codemirror-editor" id="codemirror-editor"></textarea>
                            <input type="text" id="accessRate" name="${item.questionBankId}" value="" style="display: none">
							<div class="row-fluid">
								<div class="span4">
									<select id="languages">
										<#list languages as item>
											<option value="${item.languageSlug}">${item.languageName}</option>
										</#list>
									</select>
								</div> <!-- .span4 -->
								<div id="submission-error" class="offset1 span3"></div> <!-- #submission-error -->
								<div id="submission-action" class="span4">
									<button onclick="createSubmissionAction(${problem.problemId});" class="btn btn-primary">运行代码</button>
								</div> <!-- #submission-action -->
							</div> <!-- .row-fluid -->
						</div> <!-- #code-editor-->
					</li>
				</ul>
			</div>
			<div class="clearfix"></div>
			<div class="alert alert-success text-center hidden success-${item.questionBankId}">正确</div>
			<div class="alert alert-danger text-center hidden danger-${item.questionBankId}">错误&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;答案:<span>对</span></div>
			</#list>

            <div id="coding-judge-result" style="display: none">
                <div class="section">
                    <h4>概况</h4>
                    <div class="description">
                        <table class="table">
                            <tr>
                                <td>评测结果</td>
                                <td id="judge-result" class=""></td>
                            </tr>
                            <tr>
                                <td>试题</td>
                                <td id="problem-summery"></td>
                            </tr>
                            <tr>
                                <td>提交时间</td>
                                <td id="submit-time"></td>
                            </tr>
                            <tr>
                                <td>语言</td>
                                <td id="language-name"></td>
                            </tr>
                            <tr>
                                <td>评测机</td>
                                <td id="judger-name">Default Judger</td>
                            </tr>
                            <tr>
                                <td>所用时间	</td>
                                <td id="used-time">ms</td>
                            </tr>
                            <tr>
                                <td>所用内存	</td>
                                <td id="used-memory">K</td>
                            </tr>
                            <tr>
                                <td>评测时间</td>
                                <td id="execute-time"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="section">
                    <h4>评测结果</h4>
                    <div id="judge-log" class="description markdown"></div>
                </div>
                    <div class="section">
                        <h4>你的代码</h4>
                        <div class="description">
                            <pre><code id="judge-code"></code></pre>
                        </div>
                    </div>
            </div> <!-- .body -->

		</section>
	</section>
	
	<div id="mmm" style="background: #ccc; border-radius: 10px; opacity:0.5; width: 200px;  right: 0; top: 0; margin-right: 10px; margin-top: 10px;  position: fixed; ">
		<h1 style="font-size: 48px;text-align: center; margin-top: 10px"><span id="time">${ExamTime}</span></h1>
	</div>	
	
	<div>
		<a id="testpaperBt" class="link link--highlighted btn btn-success btn-lg" href="#modal" style="opacity:0.8; position: fixed; right: 0; bottom: 0; margin-right: 10px; margin-bottom: 10px">提交试卷</a>
	</div>
	

	<div class="remodal " data-remodal-id="modal" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
	  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
	  <div>
		<h2 class="modal1Title">是否提交试卷</h2>
		<p id="modal1Desc">
			你好！是否提交试卷。
		</p>
	  </div>
	  <br>
	  <button data-remodal-action="cancel" class="remodal-cancel">取消</button>
	  <button data-remodal-action="confirm" class="remodal-confirm" id="testpaper">提交</button>
	</div>

	<div class="remodal" data-remodal-id="modal-score" role="dialog" aria-labelledby="modal1Title" aria-describedby="modal1Desc">
	  <button data-remodal-action="close" class="remodal-close" aria-label="Close"></button>
	  <div>
		<h2 class="modal1Title">考试成绩 <span id="score">0</span>分</h2>
	  </div>
	  <br>
	  <button data-remodal-action="cancel" class="remodal-cancel" id="checkTheAnswer">查看答案</button>
	</div>

    <script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" ></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
    <script type="text/javascript" src="/static/js/icheck.min.js" ></script>
    <script src="/static/assets/remodal-1.1.0/remodal.js"></script>
    <script type="text/javascript" src="/static/assets/toastr-master/toastr.js"></script>
    <script type="text/javascript" src="/static/js/common.js"></script>
    <script type="text/javascript" src="/static/js/site.js"></script>
    <script type="text/javascript">
        $.getScript('/static/js/markdown.min.js', function() {
            var converter = Markdown.getSanitizingConverter();
            $('.markdown').each(function() {
                var plainContent    = $(this).text(),
                    markdownContent = converter.makeHtml(plainContent.replace(/\\\n/g, '\\n'));
                $(this).html(markdownContent);
            });
        });
        $.getScript('/static/js/codemirror.min.js', function() {
            $.when(
                $.getScript('/static/mode/clike.min.js'),
                $.getScript('/static/mode/go.min.js'),
                $.getScript('/static/mode/pascal.min.js'),
                $.getScript('/static/mode/perl.min.js'),
                $.getScript('/static/mode/php.min.js'),
                $.getScript('/static/mode/python.min.js'),
                $.getScript('/static/mode/ruby.min.js'),
                $.Deferred(function(deferred) {
                    $(deferred.resolve);
                })
            ).done(function() {
                window.codeMirrorEditor = CodeMirror.fromTextArea(document.getElementById('codemirror-editor'), {
                    mode: $('select#languages').val(),
                    tabMode: 'indent',
                    theme: 'neat',
                    tabSize: 4,
                    indentUnit: 4,
                    lineNumbers: true,
                    lineWrapping: true
                });
            });
        });
        $.getScript('/static/js/highlight.min.js', function() {
            $('code').each(function(i, block) {
                hljs.highlightBlock(block);
            });
        });
    </script>
    <script type="text/javascript">
        var mouseLeave=${mouseLeave};
        $(document).ready(function(){
          $('input').iCheck({
            checkboxClass: 'icheckbox_square',
            radioClass: 'iradio_square',
            increaseArea: '20%' // optional
          });
        });

        var inst = $('[data-remodal-id=modal-score]').remodal();

        history.pushState(null, null, document.URL);
        window.addEventListener('popstate', function () {
            history.pushState(null, null, document.URL);
        });
	function submitPapers() {
        if($("#accessRate").val()===""){
            if(!confirm("编程题未运行成功，请先运行，否则编程题不计分，确定直接提交吗？")){
                return;
            }
        }
        $("#testpaperBt").remove();
        clearInterval(timeSetInterval);
        var arr = [];
        <#list JudgmentQuestion as item>
            var item${item.questionBankId} = $('input[name="${item.questionBankId}"]:checked ');
            arr.push({
                'questionBankId': $('input[name="${item.questionBankId}"]').attr('name'),
                'answer': item${item.questionBankId}.val()
        });
        </#list>
            <#list ChoiceQuestion as item>
            var item${item.questionBankId} = $('input[name="${item.questionBankId}"]:checked ');
            arr.push({
                'questionBankId': $('input[name="${item.questionBankId}"]').attr('name'),
                'answer': item${item.questionBankId}.val()
        });
        </#list>
            <#list CodingQuestion as item>
            var item${item.questionBankId} = $('input[name="${item.questionBankId}"]');
            arr.push({
                'questionBankId': $('input[name="${item.questionBankId}"]').attr('name'),
                'answer': item${item.questionBankId}.val()
        });
        </#list>
        console.log(JSON.stringify({"list":arr}));
		ajaxSubmitJSON("/exam/submitpapers", JSON.stringify(arr),
				function(data) {
					$("#mmm").remove();
                    $("#score").text(data["score"]);
                    inst.open();
                    data["questionBankVos"].forEach(function(e) {
						console.log(e);
						if(e.ifCorrect) {
							$(".success-"+e.questionBankId).removeClass("hidden");
						} else {
							$(".danger-"+e.questionBankId).removeClass("hidden");
							if(e.answer === 0) {
								e.answer = "错";
							}
							if(e.answer === 1) {
								e.answer = "对";
							}
							$(".danger-"+e.questionBankId+" span").text(e.answer);
						}
					})

				},
				function(data) {
					alert("错误");
				}
			);
	}
    </script>
    <script type="text/javascript">

	$("#testpaper").on("click", function(){
		submitPapers();
	});
	$("#back").mouseleave(function(){
	    console.log("鼠标移出");
	    if(mouseLeave===0)return;
        mouseLeave=mouseLeave-1;
        ajaxSubmit("/exam/mouseLeave", {},
            function(result) {
                if (result === 0) {
                    alert("你的鼠标移出考试界面次数太多，系统判定你在作弊，本次考试结束，成绩0分");
                    $("#testpaperBt").remove();
                    $("#mmm").remove();
                    $("#checkTheAnswer").remove();
                    $("#score").text(0);
                    inst.open();
                }else {
                    alert("你的鼠标离开了考试界面，请诚实作答！再移出" + result + "次考试将计0分");
                }
            },
            function(error) {
                toastr.error('网络错误：' + error.message);
            }
        );
    })
	var timeSetInterval = setInterval(function() {
		var time = $("#time").text();
		var min = parseInt(time.split(":")[0]);
		var sec = parseInt(time.split(":")[1]);
		if(sec===0){
		    if(min>0){
                sec=59;
                min--;
            }
		}else{
			sec--;
		}
        if(min<10){
            min="0"+min;
        }
        if(sec<10){
            sec="0"+sec;
        }
        $("#time").text(min+":"+sec);
        if(min==='00'&&sec==='00') {
            $('#accessRate').val(0);
			submitPapers();
		}
	},1000);
    </script>
    <script type="text/javascript">
        function createSubmissionAction(problemId) {
        var postData = {
            problemId: problemId,
            languageSlug: $('select#languages').val(),
            code: window.codeMirrorEditor.getValue()
        };
        ajaxSubmit("/p/createSubmission.action", postData,
            function(result) {
                if ( result['isSuccessful'] ) {
                    submission(result['submissionId']);
                } else {
                    var errorMessage = '';

                    if ( !result['isUserLogined'] ) {
                        errorMessage = '请先登录。';
                    } else if ( !result['isProblemExists'] ) {
                        errorMessage = '问题不存在了。';
                    } else if ( !result['isLanguageExists'] ) {
                        errorMessage = '本题不支持该语言了。';
                    } else if ( result['isCodeEmpty'] ) {
                        errorMessage = '代码框不能空着。';
                    }
                    $('#submission-error').html(errorMessage);
                }

                $('button[type=submit]', '#code-editor').removeAttr('disabled');
                $('button[type=submit]', '#code-editor').html('运行代码');
            },
            function(error) {
                toastr.error('网络错误：' + error.message);
            }
        );

    }
    </script>
    <script type="text/javascript">
        function submission(submissionId) {
            $.get('/submission/' + submissionId, function (submission, status) {

                $('#coding-judge-result').css("display","block");
                //初始化数据
                var submitTime=new Date(parseInt(submission['submitTime']));
                $('#judge-result').html(submission['judgeResult']==null?'Pending': submission['judgeResult']['judgeResultName']);
                $('#problem-summery').html(submission['problem']['problemId']+' ' +submission['problem']['problemName']);
                $('#submit-time').html(submitTime.toLocaleDateString().replace(/\//g, "-") + " " + submitTime.toTimeString().substr(0, 8));
                $('#language-name').html(submission['language']['languageName']);
                $('#used-time').html(submission['usedTime']);
                $('#used-memory').html(submission['usedMemory']);
                $('#execute-time').html(submission['executeTime']==null?'': submission['executeTime']);
                $('#judge-code').html(submission['code']==null?'': submission['code'].replace("<","&lt;").replace(">","&gt;"));

                $.getScript('/static/js/date-zh_CN.min.js', function() {
                    var currentJudgeResult = 'Pending';
                    var getterInterval = setInterval(function () {
                        getRealTimeJudgeResult(submissionId);
                        currentJudgeResult = $('#judge-result').html();

                        if (currentJudgeResult !== 'Pending') {
                            clearInterval(getterInterval);
                        }
                    }, 10000);
                });
                var subscriptionUrl = '/submission/getRealTimeJudgeResult.action?submissionId=' + submissionId,
                    source = new EventSource(subscriptionUrl),
                    lastMessage = '';
                source.onerror=function (evt) {
                    console.log("EventError",evt)
                };
                source.onmessage = function (e) {
                    var message = e['data'];

                    if (message === lastMessage) {
                        return;
                    }
                    lastMessage = message;

                    if (message === 'Established') {
                        $('#judge-log').html('<p>已连接到服务器，开始编译代码.</p>');
                        return;
                    }
                    var mapMessage = JSON.parse(message),
                        accessRate = mapMessage['accessRate'],
                        judgeResult = mapMessage['judgeResult'],
                        judgeLog = mapMessage['message'];
                    if(accessRate!==undefined) {
                        $('#accessRate').val(accessRate);
                    }
                    $('#judge-result').html(judgeResult);
                    $('#judge-log').append('<p>'+judgeLog+'</p>');
                }
            });
        }
        function getRealTimeJudgeResult(submissionId) {
            var pageRequests = {
                'submissionId': submissionId
            };

            $.ajax({
                type: 'GET',
                url: '/submission/getSubmission.action',
                data: pageRequests,
                dataType: 'JSON',
                success: function(result){
                    console.log('getSubmission:',result['submission']['judgeResult']['judgeResultSlug']);
                    if ( result['isSuccessful'] ) {
                        if ( result['submission']['judgeResult']['judgeResultSlug'] !== 'PD' ) {
                            $('#judge-result').removeClass();
                            $('#judge-result').addClass("flag-" + result['submission']['judgeResult']['judgeResultSlug'])
                            $('#judge-result').html(result['submission']['judgeResult']['judgeResultName']);
                            $('#used-time').html(result['submission']['usedTime'] + " ms");
                            $('#used-memory').html(result['submission']['usedMemory'] + " KB");
                            $('#execute-time').html(getFormatedDateString(result['submission']['executeTime'], 'zh_CN'));
                            // $('#judge-log').html(result['submission']['judgeLog'].replace(/\\\n/g, '\\n'));
                        }
                    }
                }
            });
        }
    </script>
	</body>
</html>
