<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="shortcut icon" href="/static/img/favicon.png">
		<link rel="stylesheet" href="/static/css/select.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-theme.css" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/skins/all.css" />
		<link rel="stylesheet" href="/static/skins/flat/green.css" />
		<link rel="stylesheet" href="/static/skins/square/square.css" />
		<link rel="stylesheet" href="/static/assets/remodal-1.1.0/remodal.css">
		<link rel="stylesheet" href="/static/assets/remodal-1.1.0/remodal-default-theme.css">	
	</head>
	<style>
		#back{
			background: url(/static/img/back3.png) ;
			background-size: 100%;
			background-attachment: fixed;
			font-family: "微软雅黑";
			font-size: 30px;
		
		}
		#fontsize{
			font-weight: 600;
			font-size:18px ;
			line-height: 30px;
			
		}
		ul>li{
			font-size: 18px;
		}
		#ziti{
			font-size: 50px;
		}
		.score-1{
			margin-left: 37%;
			margin-top: 20%;
		}
		
	</style>
	<body id="back">

    <section class="quanju " >
	<section class="score-1">
		<span style="text-align: center;">你已经完成了关于本试卷的考试</span><br><span style="text-align: center;padding-left: 10%;">成绩:${Fraction}分</span>
		
		
		
	</section>
		
	</section>
	
	
	
<!--js-->
<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js" ></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="/static/js/icheck.min.js" ></script>
<script src="/static/assets/remodal-1.1.0/remodal.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>

	</body>
</html>
