<!DOCTYPE html>
<!-- http://www.kingdee.com/campus/ -->
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN"
      class="csstransforms csstransforms3d csstransitions Chrome Chrome71 js_active  vc_desktop  vc_transform  vc_transform">
<head>
    <title>金蝶校园招聘</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<style type="text/css">
    html, body {
        height: 100%;
        margin: 0;
        overflow: hidden;
    }
    iframe {
        margin: 0;
        border-style: none;
        width: 100%;
        height: 100%;
    }
</style>
<body>
<iframe id="iframe" width="100%" align="left" scrolling="yes" style="position:relative;"
        src="http://www.kingdee.com/campus/"></iframe>
</body>
</html>