<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kingdee.exam.voj.mapper.SubmissionMapper">
	<!-- ResultMap -->
	<resultMap id="SubmissionResultMap" type="com.kingdee.exam.voj.model.Submission">
		<result property="submissionId" column="submission_id" />
		<result property="submitTime" column="submission_submit_time" />
		<result property="executeTime" column="submission_execute_time" />
		<result property="usedTime" column="submission_used_time" />
		<result property="usedMemory" column="submission_used_memory" />
		<result property="judgeScore" column="submission_judge_score" />
		<result property="judgeLog" column="submission_judge_log" />
		<result property="code" column="submission_code" />
		<association property="problem" 
			javaType="com.kingdee.exam.voj.model.Problem" 
			column="problem_id"
			select="com.kingdee.exam.voj.mapper.ProblemMapper.getProblem" />
		<association property="user" 
			javaType="com.kingdee.exam.entity.User"
			column="uid"
			select="com.kingdee.exam.dao.UsersMapper.getUserByUserId" />
		<association property="language" 
			javaType="com.kingdee.exam.voj.model.Language" 
			column="language_id"
			select="com.kingdee.exam.voj.mapper.LanguageMapper.getLanguageUsingId" />
		<association property="judgeResult" 
			javaType="com.kingdee.exam.voj.model.JudgeResult" 
			column="submission_judge_result"
			select="com.kingdee.exam.voj.mapper.JudgeResultMapper.getJudgeResultUsingSlug" />
	</resultMap>

	<select id="getSubmission"
		parameterType="long"
		resultMap="SubmissionResultMap"
		useCache="false">
		SELECT * 
		FROM voj_submissions 
		WHERE submission_id = #{submissionId}
	</select>
	<insert id="createSubmission"
		parameterType="com.kingdee.exam.voj.model.Submission"
		flushCache="true" 
		keyProperty="submissionId" 
		keyColumn="submission_id"
		useGeneratedKeys="true">
		INSERT INTO voj_submissions(problem_id, uid, language_id, submission_code) 
		VALUES (#{problem.problemId}, #{user.userId}, #{language.languageId}, #{code})
	</insert>
</mapper>