<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kingdee.exam.dao.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.kingdee.exam.entity.User" >
    <id column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, username, password
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from users
    where user_id = #{userId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from users
    where user_id = #{userId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kingdee.exam.entity.User" >
    insert into users (user_id,username, password,true_name,enabled,roles)
    values (#{userId,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{trueName,jdbcType=INTEGER},#{enable,jdbcType=INTEGER},#{roles,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.kingdee.exam.entity.User" >
    insert into users
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingdee.exam.entity.User" >
    update users
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingdee.exam.entity.User" >
    update users
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
    where user_id = #{userId,jdbcType=VARCHAR}
  </update>
  
  <!-- 与系统分隔 -->
  <!-- 2.5查询用户数据Dao（数据持久层） 写SQL 的语句 -->
  <select id="findUserInfo" resultMap="BaseResultMap">
		SELECT
			*
		FROM
			users
		ORDER BY
			user_id
  </select>

  <select id="getUserByUserId"
          parameterType="long"
          resultMap="BaseResultMap"
          useCache="true">
		SELECT *,user_id as uid
		FROM users
		WHERE user_id = #{userId}
	</select>
</mapper>