<!DOCTYPE html>
<#import "/_admin/common/template.html" as template>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Exam</title>
    <link href="/static/css/jquery.dataTables.min.css" rel="stylesheet"/>
</head>
<@template.header "score.html"/>
<div class="container-fluid " id="box">
    <div class="col-xs-12 content" id="content">
        <!--content-->

        <div class="panel panel-primary box pad">
            <div class="panel-heading primary-color">
                <h2 class="panel-title pull-left" style="line-height: 39px;">成绩</h2>
                <div class="clearfix"></div>
            </div>
            <div class="adv-table editable-table ">
            <div class="panel-body">
                <table id="scoreTable" class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="text-center">ID</th>
                            <th class="text-center">姓名</th>
                            <th class="text-center">试卷</th>
                            <th class="text-center">分数</th>
                        </tr>
                    </thead>
                    <tbody>
                    <#list listScore as listScore>
                        <tr>
                            <td>${listScore.usersId}</td>
                            <td>${listScore.username!}</td>
                            <td>${listScore.testpaperId!}</td>
                            <td>${listScore.fraction}</td>
                        </tr>
                        </#list>
                    </tbody>
                </table>
            </div>
            </div>
        </div>

    </div>
    <!--content-->
</div>

<script type="text/javascript" src="/static/assets/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/assets/vue/vue.js"></script>
<script type="text/javascript" src="/static/js/common.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script>
    $(document).ready(function(){
        $('#scoreTable').DataTable({
            "language": {
                "url": "/static/dataTable-zh_cn.json"
            }
        });
    });
</script>
<@template.footer/>
</html>