<#import "/_admin/lib/sidbar_templet.html" as sidbarTemplet>
<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Exam</title>

<!-- Bootstrap -->
<link href="/static/assets/yeti/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/quanju.css" />
<link href="/static/css/jquery.dataTables.min.css" rel="stylesheet"/>
<link href="/static/assets/data-tables/DT_bootstrap.css"/>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<style>
  .backs{
  
  background: url(/static/img/backs1.jpg);
  background-size:100%;
  }
   .box{
  box-shadow:0 0 10px #000 !important;
  }
  .pad{
  margin-top:1.5%;
  margin-left:0.5%;
  }
  </style>
<body class="backs">

<@sidbarTemplet.header />

	<div class="container-fluid">
		<div class="col-xs-2 sidebar box">
			<ul class="nav nav-sidebar">
				<@sidbarTemplet.sidbar "user.html" />
			</ul>
		</div>
		<div class="col-xs-10 col-xs-offset-2 content" id="content">
			<!--content-->

			<div class="panel panel-primary box pad">
				<div class="panel-heading primary-color">
					<h2 class="panel-title pull-left" style="line-height: 39px;">用户</h2>
					<button class="pull-right btn btn-primary" data-toggle="modal"
							v-on:click="add()">生成账号</button>
					<div class="clearfix"></div>
				</div>
				<div class="adv-table editable-table ">
				<div class="panel-body">
					<table id="editable-sample" class="table table-striped table-hover table-bordered">
						<thead>
							<tr>
								<th class="text-center">id</th>
								<th class="text-center">姓名</th>
								<th class="text-center">身份</th>
								<th class="text-center">操作</th>
							</tr>
						</thead>
						<tbody>
						<#list allUsers as allUsers>
							<tr id="${allUsers.userId}">
								<td>${allUsers.userId!}</td>
								<td>${allUsers.username}</td>
								<td><#if allUsers.permission==1><span>管理员</span><#elseif allUsers.permission==0><span>用户</span></#if></td>
								<td>
									<a class="btn btn-xs" onclick="delete1(${allUsers.userId})">删除</a>
								</td>
							</tr>
							</#list>
						</tbody>
					</table>
					</div>
				</div>
			</div>


			<div class="modal fade bs-example-modal-lg" id="myModal">
			<div class="modal-dialog modal-lg">
				<div class="modal-content">
					<div class="modal-header bg-primary primary-color">
						<button type="button" class="close" data-dismiss="modal"
								aria-hidden="true">&times;</button>
						<h4 class="modal-title">生成新账号</h4>
					</div>
					<div class="modal-body">
						<form class="form-horizontal" id="optionsForm" action="/admin/addquestionbank" method="post" onsubmit="return mySubmit(true)">
							<div class="form-group">
								<label class="col-xs-2 control-label">姓名：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="truename" v-model="User.trueName" placeholder="请输入姓名">
								</div>
							</div>
							<div class="form-group">
								<label class="col-xs-2 control-label">手机号：</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="phone" v-model="User.phone" placeholder="请输入手机号">
								</div>
							</div>
						</form>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">
								关闭</button>
							<button type="button" class="btn btn-primary" v-on:click="addQuestionBank()" v-if="btnState == 0">生成</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
		<!--content-->
	</div>

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script type="text/javascript" src="/static/js/jquery-1.10.2.min.js"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/assets/vue/vue.js"></script>
        <script type="text/javascript" src="/static/assets/toastr-master/toastr.js"></script>
		<script type="text/javascript" src="/static/js/common.js"></script>
		<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
		<script src="/static/js/editable-table.js"></script>
		<script type="text/javascript" src="/static/assets/data-tables/DT_bootstrap.js"></script>
		<script class="include" type="text/javascript" src="/static/js/jquery.dcjqaccordion.2.7.js"></script>
   <script>
   jQuery(document).ready(function() {   
       var a = EditableTable.init();

   });
   $(function() {
       var User = {
           trueName: '',
           phone: ''
       };
       var vm = new Vue({
           el: '#content',
           data: {
               QuestionBankVoList: {},
               User:User,
               test: "123",
               btnState: 0
           },
           methods: {
               addQuestionBank: function() {
                   var temp = JSON.stringify(QuestionBank);
                   console.log(temp);
                   ajaxSubmitJSON("/admin/addquestionbank", JSON.stringify(QuestionBank),
                       function(data) {
                           if(data) {
                               toastr.success('操作成功!', '新增题');
                               $('#myModal').modal('hide');
                               vm.QuestionBank.stem = '';
                               vm.QuestionBank.answer = 'A';
                               for (var i = 0; i <= 3; i++) {
                                   vm.QuestionBank.options[i].content = '';
                               }
                               vm.page(vm.QuestionBankVoList.pageNum);
                           } else {
                               toastr.error('操作失败!', '新增题');
                           }
                       },
                       function(data) {
                           toastr.error('网络错误');
                       }
                   );
               },
               hide: function() {
                   if(this.QuestionBank.answer != 1 || this.QuestionBank.answer!= 0) {
                       this.QuestionBank.answer = 1;
                       this.QuestionBank.testsType = 0;
                   }
                   $("#options-views").hide();
               },
               show: function() {
                   if(this.QuestionBank.answer != 'A' || this.QuestionBank.answer!= 'B' || this.QuestionBank.answer!= 'C' || this.QuestionBank.answer!= 'D') {
                       this.QuestionBank.answer = 'A';
                       this.QuestionBank.testsType = 1;
                   }
                   $("#options-views").show();
               },
               deleteQuestionBank: function(id) {
                   ajaxSubmitJSON("/admin/deletequestionbank", JSON.stringify({"questionBankId": id}),
                       function(data) {
                           if(data) {
                               toastr.success('操作成功!', '删除题');
                               vm.page(vm.QuestionBankVoList.pageNum);
                           }else {
                               toastr.error('操作失败!', '删除题');
                           }
                       },
                       function(data) {
                           toastr.error('网络错误');
                       }
                   );
               },
               add: function() {
                   $('#myModal').modal({
                       backdrop: 'static',
                       keyboard: false
                   });
               },
               update: function(data) {
                   this.btnState = 1;
                   vm.QuestionBank.stem = data.stem;
                   vm.QuestionBank.answer = data.answer;
                   vm.QuestionBank.testsType = data.testsType;
                   vm.questionBankId = data.questionBankId;
                   if(data.testsType == 1) {
                       vm.QuestionBank.options = data.options;
                   } else {
                       vm.hide();
                   }

                   $('#myModal').modal({
                       backdrop: 'static',
                       keyboard: false
                   });
               },
               sbUpdate: function() {
                   console.log(vm.questionBankId);
                   ajaxSubmitJSON("/admin/updatequestionbank-"+vm.questionBankId, JSON.stringify(QuestionBank),
                       function(data) {
                           if(data) {
                               toastr.success('操作成功!', '修改题');
                               $('#myModal').modal('hide');
                               vm.QuestionBank.stem = '';
                               vm.QuestionBank.answer = 'A';
                               for (var i = 0; i <= 3; i++) {
                                   vm.QuestionBank.options[i].content = '';
                               }
                               vm.page(vm.QuestionBankVoList.pageNum);
                           } else {
                               toastr.error('操作失败!', '修改题');
                           }
                       },
                       function(data) {
                           toastr.error('网络错误');
                       }
                   );
               },
               page: function(pageNum) {
                   ajaxSubmitJSON("/admin/getAllQuestionBank", JSON.stringify({'pageNum':pageNum}),
                       function(data) {
                           vm.QuestionBankVoList = data;
                       },
                       function(data) {
                           toastr.error('网络错误');
                       }
                   );
               }
           }
       });
   });
    function delete1(userId){
        if (confirm("是否要删除这位考生 ?") == false) {
            return;
        }
        $.ajax({
           	url:"/admin/userDelete",
               data:{"userId":userId},
               contentType: "application/json",
               dataType: "json",  
               type: "GET",  
               traditional: true,  
               success: function (data) {  
            	   alert("删除成功!");
            	   var idObject = document.getElementById(userId);
            	   idObject.parentNode.removeChild(idObject);     
               } 
           });

    }
    </script>
</body>

</html>